<div>
    <span id="id-gpsr-toggle-onoff">
        <i class="fa fa-circle" style="color: <% if (running) print("green"); else print("red") %>">
        &nbsp;
        <span style="color: #444">GPSr is <% if (running) print("on"); else print("off") %></span>
        </i>
    </span>
    <br>
    <span>
        <i class="fa fa-location-arrow"></i>
        &nbsp;
        <span id="id-latitude"><%= latitude %></span>
        &nbsp;
        <span id="id-longitude"><%= longitude %></span>
        &nbsp;&nbsp;&nbsp;
        <i class="fa fa-wifi"></i>
        &nbsp;
        <span id="id-accuracy"><%= accuracy %></span>
    </span>
</div>
