<div class="panel panel-default" style="margin: 0;" id="id-<%= id %>-panel">
  <div class="panel-heading" style="">
    <div style="display:inline-block;">
      <span id="id-<%= id %>-title"><%= title %></span>
    </div>
    <div style="display: inline-block; float: right;">
      <span id="id-<%= id %>-collapse"><i class="fa fa-chevron-up"></i></span>
      <span id="id-<%= id %>-restore" style="display: none;"><i class="fa fa-chevron-down"></i></span>
    </div>
  </div>
  <div class="panel-body" id="id-<%= id %>-body">
    <div id="id-<%= id %>-content"></div>
  </div>
</div>